AWS_REGION=ap-south-1
S3_BUCKET=jaquar-price-pulse-kvs-20260621

PGHOST=jaquar-price-pulse-db.c962wgiycsyj.ap-south-1.rds.amazonaws.com
PGPORT=5432
PGDATABASE=jaquar_price_pulse
PGUSER=jppadmin
PGPASSWORD=put-your-password-here
